<p>
  <mat-toolbar color="accent">
    <button [routerLink]="''" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>code</mat-icon>
    </button>
    <span>Quizrr</span>
    <span class="example-spacer"></span>
    <button mat-button *ngIf="!isLoggedIn" [routerLink]="'/login'">Login
    </button>
    <button class="mx-2" *ngIf="isLoggedIn" mat-button (click)="userDetails()">{{user.firstName}}
    </button>
    <button class="mx-2" *ngIf="!isLoggedIn" mat-button [routerLink]="'signup'">Register
    </button>
    <a class="mx-2" *ngIf="isLoggedIn" (click)="logout()" mat-button [routerLink]="'/'">
      <mat-icon>logout</mat-icon>
    </a>

    <!--  -->



  </mat-toolbar>
</p>