<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h1 class="fw-normal mb-0 text-black text-muted">Booking Page</h1>
                </div>
                <!-- ------------------------- -->
                <div class="card mb-3">
                    <img class="card-img-top py-2 px-2" src="../../../assets/ladakh.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">name</h3>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque dicta
                            delectus soluta, similique sed laboriosam quibusdam sapiente, perferendis culpa minus,
                            quidem quisquam vel architecto quasi enim cum a excepturi accusantium!</p>
                        <p class="card-text"><small class="text-muted">Quantity : 1</small></p>
                        <h1 class="card-title">Rs. 2999.00</h1>
                    </div>
                </div>
                <!-- ----------------------- -->

                <div class="card mb-4">
                    <div class="card-body p-4 d-flex flex-row">
                        <div class="form-outline flex-fill">
                            <input type="text" id="form1" class="form-control form-control-lg" />
                            <label class="form-label" for="form1">discount code</label>
                        </div>
                        <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <button type="button" (click)="onSubmit()" class="btn btn-warning btn-block btn-lg">Pay 2999.00</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{{package|json}}