<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="USER" class="my-4">
      <div class="card w-50 border-success">
        <img class="card-img-top" src="../../../../assets/userImage.png" alt="Card image cap">
        <div class="card-body text-success">
        </div>
        <button [routerLink]="'/users'" class="btn btn-lg btn-success">USER</button>
      </div>
    </mat-tab>
    <mat-tab label="ADMIN">
      <div class="card w-50 border-danger">
        <img class="card-img-top" src="../../../../assets/admin image.jpg" alt="Card image cap">
        <div class="card-body text-danger">
        </div>
        <button (click)="loadProfile()" class="btn btn-lg btn-danger">ADMIN</button>
      </div>


    </mat-tab>
    <mat-tab label="PACKAGES">
      <div class="card w-50 border-primary">
        <img class="card-img-top" src="../../../../assets/tours.jpg" alt="Card image cap">
        <div class="card-body text-primary">
        </div>
        <button [routerLink]="'/package'" class="btn btn-lg btn-primary">PACKAGE</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>