<div class="bootstrap-wrapper">
  <div class="container my-4 mx-4">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="container text-center my-2">
          <img class=" img-shape" src="../../../assets/icon.png" alt="profile">
        </div>
        <h1 class="text-center"> Register Here !</h1>
        <mat-card>
        <form (ngSubmit)="formSubmit()" class="text-center container">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input [(ngModel)]="user.userName" name="userName" matInput placeholder="E.g abhiya2932" required>
            <mat-hint>username must be unique!!</mat-hint>
          </mat-form-field>
          <!--  -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Firstname</mat-label>
            <input [(ngModel)]="user.firstName" name="firstName" type="text" matInput placeholder="E.g Abhishek"
              required>
          </mat-form-field>
          <!--  -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Lastname</mat-label>
            <input [(ngModel)]="user.lastName" name="lastName" type="text" matInput placeholder="E.g Shaw" required>
          </mat-form-field>
          <!--  -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Mobile</mat-label>
            <input [(ngModel)]="user.phone" type="number" name="phone" matInput placeholder="E.g 9883153542" required>
          </mat-form-field>
          <!--  -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="user.email" type="email" name="email" matInput
              placeholder="E.g abhishekshaw813@gmail.com" required>
          </mat-form-field>
          <!--  -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>password</mat-label>
            <input type="password" [(ngModel)]="user.password" name="password" required="true" matInput
              placeholder="E.g must include character, number and special character">
          </mat-form-field>
          <!--  -->
          <div class="container text-center">
            <button class="mx-2" mat-raised-button color="warn" type="reset">Reset</button>
            <button class="mx-2" mat-raised-button color="primary" type="submit">Register</button>
          </div>
        </form>
      </mat-card>
      </div>
    </div>
  </div>
</div>